<ion-view view-title="DEPENDENCY INJECTION">
  <ion-content>
    <h1>DEPENDENCY INJECTION</h1>
    <cs-entry content-type="angularjs2_tutorial" as="dependencyInjection" where="title,DEPENDENCY INJECTION" set-cache-policy="2">
          <cs-loading ng-if="isLoading"></cs-loading>
          <div class="card">
            <div class="item item-text-wrap" data-ng-bind-html="dependencyInjection[0].multi_line"></div>
          </div>
          <div class="card">
            <div class="item item-text-wrap" data-ng-bind-html="dependencyInjection[0].rich_text_editor"></div>
          </div>
    </cs-entry>
  </ion-content>
</ion-view>
