<ion-view view-title="DISPLAYING DATA Angular 2 for TypeScript">
  <ion-content>
    <h1>DISPLAYING DATA Angular 2 for TypeScript</h1>
    <contentstack-entry content-type="angularjs2_tutorial" as="displayData" where="title,DISPLAYING DATA Angular 2 for TypeScript" set-cache-policy="NETWORK_ELSE_CACHE">
          <div class="card">
            <div class="item item-text-wrap" data-ng-bind-html="displayData[0].multi_line"></div>
          </div>
          <div class="card">
            <div class="item item-text-wrap" data-ng-bind-html="displayData[0].rich_text_editor"></div>
          </div>
    </contentstack-entry>
  </ion-content>
</ion-view>
