<ion-view view-title="USER INPUT">
  <ion-content>
    <h1>USER INPUT</h1>
    <contentstack-entry content-type="angularjs2_tutorial" as="userInput" where="title,USER INPUT" set-cache-policy="NETWORK_ELSE_CACHE">
          <div class="loader ng-cloak" data-ng-if="$isLoading">Loading...</div>
          <div class="card" data-ng-if="!$isLoading && userInput">
            <div class="item item-text-wrap" data-ng-bind-html="userInput[0].multi_line"></div>
          </div>
          <div class="card" data-ng-if="!$isLoading && userInput">
            <div class="item item-text-wrap" data-ng-bind-html="userInput[0].rich_text_editor"></div>
          </div>
    </contentstack-entry>
  </ion-content>
</ion-view>
